.idea
*.sql
!app/config/initialize.sql
logs/*.log
.sass-cache
vendor
app/cache/*
!app/cache/.gitignore
app/config/config.php
app/modules/frontend/assets/css/materialize*
app/modules/frontend/views/content/*.volt
app/modules/backend/views/content/*.volt
app/modules/backend/controllers/TestController.php
app/modules/backend/views/test
public/css/admin.min.css
public/css/main.min.css
public/js/admin.min.js
public/js/main.min.js
cli/test.php
cli/pids/*.pid
cli/cache/*.php